<h1>Confirmez votre email svp!</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} hour(s).
</p>

<p>
    A bientôt!
</p>
