<h1>Hi!</h1>

<p>Pour renouvelez votre mot de passe cliquez sur lien ci-dessous</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>

<p>A bientôt!</p>
