{#{{ form_start(form) }}#}

{#{{ form_widget(form) }}#}

{#<div class="button-container">#}
	<button class="btn btn-outline-primary">{{ button_label|default('Valider') }}</button>
	{{ form_end(form) }}
