{% extends 'base.html.twig' %}
{% block body %}
 {# All other HTML erros - including 500 #}
  <main class="global-container">
 <div class="error-container">
   <p class="col text-center black-text">
     <h1>Oups <img class="error-img" src="{{asset('images/404_v2.jpg')}}"></h1>
	 
     <h2>Désolé {{ app.user.username | default('') }} cette page n’existe pas.</h2>
     <div>
       N'hésitez pas à contacter le webmaster du site si besoin.
         <a class="nav-link" href="{{ path('contactUs') }}">Contact</a>
     </div>
   </p>
 </div>
 </main>
 {% endblock %}
